@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --mint: #9fb7a8;
  --dark-blue: #3f4370;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

body p {
  font-size: 2.5vmin;
}

/*form styling starts*/
.zip-form {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px 0;
}

form {
  padding: 20px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
  background-color: var(--white);
  width: 50%;
  display: flex;
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.zip-form label {
  margin-top: 7px;
  color: var(--dark-blue);
  font-size: 2.5vmin;
}

.zip-form input {
  width: 20%;
  min-width: 68px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: lighter;
  box-shadow: 0 0 2px var(--mint);
}

form button {
  font-size: 2.5vmin;
  color: var(--white);
  background-color: var(--dark-blue);
  padding: 7px 10px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

form button:hover {
  background-color: var(--mint);
  color: var(--white);
}

.alert {
  color: var(--dark-blue);
  background-color: var(--white);
  border-color: var(--mint);
}

@media only screen and (max-width: 375px) {
  form {
    width: 70%;
  }
}
/*if width smaller than 850 px, label and input in one row, button below */
@media only screen and (max-width: 800px) {
  .zip-form label {
    font-size: 15px;
    white-space: nowrap;
  }

  form button {
    margin: 10px;
  }
}
/*form styling ends*/

/* weather-list styling starts */
#weather-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-list-item {
  color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  background-color: var(--white);
  max-width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

/*weather-list styling ends */

/*current-day styling starts */

#currentDayWrapper {
  padding: 25px;
  padding-top: 0;
  border-radius: 5px;
  background-color: var(--white);
  border: 2px solid var(--dark-blue);
  display: flex;
  flex-direction: column;
}

#currentDayWrapper h1 {
  color: var(--dark-blue);
  font-size: 4vh;
  text-align: center;
}

.currentDayContent {
  display: flex;
  width: 100%;
}

.weather {
  padding: 20px 0 20px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather img {
  padding: 10px 0 10px 0;
}

.weather p {
  margin: 0;
  font-size: 3vmin;
  padding: 10px 0 10px 0;
  color: var(--dark-blue);
}

.details {
  padding: 20px 0 20px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details span {
  color: var(--dark-blue);
  display: inline-block;
}
@media only screen and (max-width: 530px) {
  #currentDayWrapper {
    padding: 10px;
  }
  .currentDayContent {
    flex-direction: column;
    align-items: center;
  }

  .weather {
    flex-direction: row;
  }

  .details {
    display: flex;
    flex-direction: column;
  }
}
